{% extends "main/test.html" %}
{% load static %}

{% block title %} Cart {% endblock title %}

{% block mainblock %} 
<div class="ps-breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            
        </ul>
    </div>
</div>
    <div class="ps-section--shopping ps-shopping-cart">
        <div class="container">
            <div class="ps-section__header">
                <h1>Cart Items</h1>
            </div>
            <div class="ps-section__content">
                <div class="table-responsive">
                    <table class="table ps-table--shopping-cart ps-table--responsive">
                        <thead>
                            <tr>
                                <th>Product name</th>
                                <th>PRICE</th>
                                <th>QUANTITY</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for i in cart %}
                            <tr>
                                <td data-label="Product">
                                    <div class="ps-product--cart">
                                        <div class="ps-product__thumbnail"><a href="{% url 'product_details' i.product_id.id %}"><img src="{{ i.product_id.productpic.url }}" alt=""></a></div>
                                        <div class="ps-product__content"><a href="{% url 'product_details' i.product_id.id %}">{{ i.product_id.medicinename }}</a>
                                            <p><strong>15 Tablet(s) in Strip</strong></p>
                                        </div>
                                    </div>
                                </td>
                                <td class="price" data-label="Price">Rs.{{ i.product_id.mrp }}/-</td>
                                <td data-label="Quantity">
                                    <div class="form-group--number">
                                        <button class="up" pid = {{i.product_id.id}}>+</button>
                                        <button class="down" pid = {{i.product_id.id}}>-</button>
                                        <input class="form-control" type="text" placeholder="{{ i.quantity }}" value="{{ i.quantity }}" id = "{{ i.product_id.id }}" name = "hellow">
                                    </div>
                                </td>
                                <td data-label="Actions"><a href="#" class="remove-cart" pid = {{i.product_id.id}}><i class="icon-cross"></i></a></td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="ps-section__cart-actions"><a class="ps-btn" href="{% url 'home' %}"><i class="icon-arrow-left"></i> Back to Shop</a></div>
            </div>
            <div class="ps-section__footer">
                <div class="row">                    
                   
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block--shopping-total">
                            <div class="ps-block__header">
                                <p>Subtotal <span id = "totalpurchased2"> Rs.{{ amount }}/-</span></p>
                            </div>
                            <div class="ps-block__header">
                                <p>Shipping Charges <span id = "totalpurchased2"> Rs.50/-</span></p>
                            </div>
                            <div class="ps-block__content">
                                <ul class="ps-block__product">
                                        <!-- <li><span class="ps-block__shop">Shipping Charges</span><span class="ps-block__shipping"></span><span class="ps-block__estimate"> Rs.15/-</span></li> -->

                                </ul>
                                <h3>Total <span id = "totalpurchased3">Rs.{{ amount }}/-</span></h3>
                            </div>
                        </div><a class="ps-btn ps-btn--fullwidth" href="{% url 'checkout' %}">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ps-breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
        </ul>
    </div>
</div>
{% endblock mainblock %}
