{% extends "main/test.html" %}
{% load static %}

{% block title %} Contact Us {% endblock title %}

{% block mainblock %}
    <div class="ps-page--single" id="contact-us">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>

        {% if flag == 1 %}
        <div class="alert alert-success alert-fixed" id = "myAlert">
            <button type="button" id="linkClose" class="close">&times;</button>
            <center><strong>Success!</strong>  Our team will reach back to you shortly :D</center>
        </div>
        {% endif %}

        <div class="ps-contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.735365054446!2d75.83227071494134!3d22.700893285116848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd6fe7d0fccf%3A0xdebdd87320f51303!2sNavkaar%20Medical%20And%20General%20Stores!5e0!3m2!1sen!2sin!4v1621608528139!5m2!1sen!2sin" height="500"></iframe>
        </div>
        <div class="ps-contact-info">
            <div class="container">
                <div class="ps-section__header">
                    <h3>Contact Us For Any Questions</h3>
                </div>
                <div class="ps-section__content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-block--contact-info">
                                <h4>Contact Directly</h4>
                                <p><a href="#"></a><span>9425321530</span></p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-block--contact-info">
                                <h4>Address</h4>
                                <p><span>1646/B Scheme No.71 main road, INDORE</span></p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-block--contact-info">
                                <h4>Email Id</h4>
                                <p><a href="#"><span class="__cf_email__" >s.bhandari0203@gmail.com</span></a></p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-contact-form">
            <div class="container">
                <form class="ps-form--contact-us" action="{% url 'contactUs' %}" method="POST">
                    {% csrf_token %}
                    <h3>Get In Touch for any query</h3>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Name *" name = "Name">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Email *" name = "Email">
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Subject *" name = "Subject">
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" placeholder="Message" name = "Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group submit">
                        <button class="ps-btn" type="submit">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
{% endblock mainblock %} 