{% extends "main/test.html" %}
{% load static %}

{% block title %} {{ product_information.medicinename }} {% endblock title %}

{% block mainblock %}  
<div class="alert alert-success collapse alert-fixed" id = "myAlert">
    <button type="button" id="linkClose" class="close">&times;</button>
    <center><strong>Success!</strong> Item added successfully :D</center>
</div>

    <div class="ps-page--product">
        <div class="ps-container">
            <div class="ps-page__container">
                <div class="ps-page__left">
                    <div class="ps-product--detail ps-product--fullwidth">
                        <div class="ps-product__header">
                            <div class="ps-product__thumbnail" data-vertical="true">
                                <figure>
                                    <div class="ps-wrapper">
                                        <div class="ps-product__gallery" data-arrow="true">
                                            <div class="item"><a href="{{ product_information.productpic.url }}"><img src="{{ product_information.productpic.url }}" alt=""></a></div>
                                            <!-- <div class="item"><a href="img/products/detail/fullwidth/2.jpg"><img src="{{ product_informationproductpic.url }}" alt=""></a></div>
                                            <div class="item"><a href="img/products/detail/fullwidth/3.jpg"><img src="img/products/detail/fullwidth/3.jpg" alt=""></a></div> -->
                                        </div>
                                    </div>
                                </figure>
                               
                            </div>
                            <div class="ps-product__info">
                               <h1>{{ product_information.medicinename }}</h1>
                                <div class="ps-product__meta">
                                    <p>15 Tablet(s) in Strip </p>
                                    
                                </div>
                                <h4 class="ps-product__price">Rs.15/-</h4>
                                <div class="ps-product__shopping">
                                    <figure>
                                        <figcaption>Quantity Description:-</figcaption>
                                            <p>1 unit of this medicine will have {{ product_information.quantitydescription }}</p>
                                        
                                    </figure>
                                    {% if request.user.is_authenticated %}
                                    <div class="ps-product__add-to-cart"><button class="ps-btn ps-btn--fullwidth itee" pid={{product_information.id}} id = {{product_information.id}}>Add To Cart</button></div>
                                    {% else %}
                                    <div class="ps-product__add-to-cart"><a class="ps-btn ps-btn--fullwidth itee" pid={{product_information.id}} href="{% url 'login' %}">Add To Cart</a></div>
                                    {% endif %}
                                   
                                </div>
                               
                                </div>
                        </div>
                        <div class="ps-product__content ps-tab-root">
                            <ul class="ps-tab-list">
                                <li class="active"><a href="#tab-1">Description</a></li>
                                <li><a href="#tab-2">Safety Information</a></li>
                                <li><a href="#tab-3">Features and Details</a></li>
                            </ul>
                            <div class="ps-tabs">
                                <div class="ps-tab active" id="tab-1">
                                    <div class="ps-document">
                                        <h5>Description</h5>
                                       <p>{{ product_information.productdescription }}</p>
                                        <p></p>                                    </div>
                                </div>
                               
                                <div class="ps-tab" id="tab-2">
                                    <h4>Safety Information</h4>
                                    <!-- <ul>
                                     <li>Read the label carefully before use</li>
                                     <li>Do not exceed the recommended dosage</li>
                                     <li>Store in a cool dry place away from direct sunlight</li>
                                     <li>Keep out of reach of the children</li>
                                    </ul> -->

                                    <p>{{ product_information.safetyinfo }}</p>
                                </div>
                                <div class="ps-tab" id="tab-3">
                                    <h5>Features and Details</h5>
                                    <ul>
                                    <li> Brand -{{ product_information.brand }}</li>
                                    <li> Manufacturer - {{ product_information.manufracturer }} </li>
                                    {% if product_information.prescriptionreq == "F" %}
                                        <li> Prescription required? - No </li>
                                    {% else %}
                                        <li> Prescription required? - Yes </li>
                                    {% endif %}
                                    </ul>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ps-page__right">
                    
                    
                    
                    
                </div>
            </div>
            
            <div class="ps-section--default">
                <div class="ps-section__header">
                    <h3>Related products</h3>
                </div>
                <div class="ps-section__content">
                    <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="true" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
                        {% for w in prod_cat %}
                        <div class="ps-product">
                            
                            <div class="ps-product__thumbnail"><a href="{% url 'product_details' w.id %}"><img src="{{ w.productpic.url }}" alt=""></a>
                                <!-- <ul class="ps-product__actions">
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                </ul> -->
                                
                            </div>
                            
                            <div class="ps-product__container"><a class="ps-product__vendor" href="#">Image</a>
                                <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">Capsule</a>
                                    
                                    <p class="ps-product__price">Rs.40</p>
                                </div>
                                <div class="ps-product__content hover"><a class="ps-product__title" href="product-default.html">Capsule</a>
                                    <p class="ps-product__price">Rs.40</p>
                                    
                                </div>
                                <div class="ps-product__add-to-cart">{% if request.user.is_authenticated %}
                                    <div class="ps-product__add-to-cart"><button class="ps-btn ps-btn--fullwidth itee" pid={{w.id}} id = {{w.id}}>Add To Cart</button></div>
                                    {% else %}
                                    <div class="ps-product__add-to-cart"><a class="ps-btn ps-btn--fullwidth itee" pid={{w.id}} href="{% url 'login' %}">Add To Cart</a></div>
                                    {% endif %}</div>
                            </div>
                        </div>
                        {% endfor %}
                        
                        <div class="ps-product">
                            <div class="ps-product__thumbnail"><a href="product-default.html"><img src="img/products/shop/17.jpg" alt=""></a>
                                <ul class="ps-product__actions">
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                   </ul>
                            </div>
                            <div class="ps-product__container"><a class="ps-product__vendor" href="#">Image</a>
                                <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">Crocin</a>
                                   
                                    <p class="ps-product__price">Rs.30</p>
                                </div>
                                <div class="ps-product__content hover"><a class="ps-product__title" href="product-default.html">Crocin</a>
                                    <p class="ps-product__price">Rs.30</p>
                                </div>
                            </div>
                        </div>
                        <div class="ps-product">
                            <div class="ps-product__thumbnail"><a href="product-default.html"><img src="img/products/shop/17.jpg" alt=""></a>
                                <ul class="ps-product__actions">
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                   </ul>
                            </div>
                            <div class="ps-product__container"><a class="ps-product__vendor" href="#">Image</a>
                                <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">Crocin</a>
                                   
                                    <p class="ps-product__price">Rs.30</p>
                                </div>
                                <div class="ps-product__content hover"><a class="ps-product__title" href="product-default.html">Crocin</a>
                                    <p class="ps-product__price">Rs.30</p>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock mainblock %}